.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 6px 8px rgb(0, 0, 0);
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.logo img {
  height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 30px;
}

.search-bar input {
  width: 2000%;
  padding: 15px;
  border: 1px solid #5c3900;
  border-radius: 10px;
}

.search-bar button {
  background-color: #fff;
  border: none;
  color: #5c3900;
  padding: 10px;
  cursor: pointer;
}

.user-actions {
  display: inline-block;
  align-items: center;
}

.user-actions a {
  margin-left: 20px;
  color: #5c3900;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.user-actions a:hover {
  text-decoration: underline;
}

.bottom-bar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
}

.bottom-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.bottom-bar li {
  margin: 0 20px;
}

.bottom-bar a {
  color: #5c3900;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.bottom-bar a:hover {
  text-decoration: underline;
}
